html,
body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

@media screen and ( max-width: 1024px ) {
    html {
        font-size: 93.75%;
    }
}

@media screen and ( max-width: 768px ) {
    html {
        font-size: 87.5%;
    }
}

:root {
    --mainColor: #151516;
    --labelColor: #666173;
    --maskColor: #e1dee8;
    --lightenGray: #f4f3f6;
    --blue: #191847;
    --white: #fff;
    --orange: #f5850b;
    --error: #e64343;
    --lightPurpple: #c9c5d4;
}

.container {
    max-width: 1752px;
    padding: 40px 40px 0;
    margin: 0 auto;

    @media screen and ( max-width: 768px ) {
        padding: 20px 20px 0;
        width: 100%;
    }
}

h1,
h2,
h3,
h4 {
    margin: 20px 0;
    color: var( --blue );
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}

h2 {
    font-size: 2.375rem;

    @media screen and ( max-width: 768px ) {
        font-size: 1.25rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and ( max-width: 768px ) {
        h1 {
            max-width: 60px;
        }
    }
}

.backIcon {
    position: absolute;
    left: 134px;
    cursor: pointer;
    top: 70px;

    @media screen and ( max-width: 768px ) {
        left: 0;
        top: 45px;
    }
}

small,
::-webkit-input-placeholder,
::placeholder {
    color: var( --maskColor );
}

.formGroup {
    margin: 30px 0 60px;

    &.twoCols {
        display: flex;
        justify-content: space-between;

        > div {
            width: 40%;
        }
    }

    @media screen and ( max-width: 768px ) {
        margin: 30px 0;
    }
}

.blueButton {
    background-color: var( --blue );
    color: var( --white );
    font-family: 'DM Sans', sans-serif;

    padding: 35px 0;
    font-size: 1.3125rem;
    display: block;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 20px;

    display: block;
    width: 100%;
    border: none;
    cursor: pointer;

    transition: filter .2s ease-in-out;

    &:hover {
        filter: brightness(.7);
    }

    @media screen and ( max-width: 768px ) {
        padding: 15px 0;
        font-size: .875rem;
    }
}