.mainContent {
    max-width: 690px;
    margin: 50px auto 0;

    header {
        text-align: center;
        margin-bottom: 70px;

        h3 { font-weight: 400; color: var( --blue );}

        p {
            color: var( --lightPurpple );
            max-width: 350px;
            margin: 0 auto;
            font-size: 1.5rem;
        }

    }

    @media screen and ( max-width: 768px ) {
        margin-top: 20px;

        header {
            margin-bottom: 40px;

            p { font-size: 1rem; }
        }
    }
}

.successIcon {
    display: flex;
    width: 120px;
    height: 120px;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 4px solid var( --lightenGray );
    border-radius: 50%;
    margin: 0 auto;

    @media screen and ( max-width: 768px ) {
        width: 80px;
        height: 80px;
        padding-top: 0;
    }
}

.subscribeInfos {
    padding: 35px 35px 30px;
    box-shadow: 0px 0px 20px 0px rgba( 178, 178, 178, .15 );
    border-radius: 15px;
    margin-bottom: 100px;

    .offerInfos {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--lightenGray);
        padding: 40px;
        border-radius: 15px;
        margin-bottom: 15px;

        .starIcon {
            width: 75px;
            height: 75px;
            display: block;
            background-color: var( --maskColor );
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: var( --blue );
            }
        }
    }

    @media screen and ( max-width: 768px ) {
        padding: 20px;
        margin-bottom: 50px;

        .offerInfos {
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 15px;
            flex-direction: column;

            .starIcon {
                width: 55px;
                height: 55px;
            }
        }
    }
}

.offerInfosRight {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    p {
        margin: 0;
        font-weight: 500;
        line-height: 1.7rem;
        color: var( --blue );
        font-size: 1.375rem;

        & + p { margin-top: 25px; }

        span {
            &:first-child {
                margin-right: 15px;
                position: relative;
                display: inline-block;
    
                &::after {
                    content: "";
                    width: 2px;
                    position: absolute;
                    right: -17px;
                    height: 70%;
                    background-color: var(--blue);
                    top: 3px;
    
                    @media screen and (max-width: 768px) {
                        width: 2px;
                    }
                }
            }
    
            &:last-child {
                margin-left: 15px;
            }
        }
    }

    @media screen and ( max-width: 768px ) {
        align-items: center;
        margin-top: 10px;

        p {
            font-size: 1rem;
            text-align: center;

            & + p {
                margin-top: 10px;

                span {
                    display: block;
                    &:first-child {
                        margin: 0;

                        &:after {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.customerInfos {
    padding: 20px;
    
    p {
        & + p { margin-top: 60px; }

        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.375rem;

        span {
            &:first-child {
                color: var( --maskColor );
            }
        }
    }

    @media screen and ( max-width: 768px ) {
        padding: 20px 20px 10px;

        p {
            display: block;
            font-size: 1rem;

            span {
                display: block;
            }

            & + p { margin-top: 20px; }
        }
    }
}

.footer {
    p {
        font-weight: 600;
        text-align: center;
        color: var( --blue );
        font-size: 1.375rem;
        margin-bottom: 50px;

        a {
            letter-spacing: .05rem;
        }

        &:last-child {
            a {
                letter-spacing: .2rem;
            }
        }

        @media screen and ( max-width: 768px ) {
            font-size: 1.2rem;

            &:first-child { margin-bottom: 20px; }
        }
    }
}